<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Test</title>

  <!-- KockoutJS : https://knockoutjs.com -->
  <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.5.0.js"></script>

  <!-- Bootstrap : https://getbootstrap.com/docs/4.6/ -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container p-4">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Products by category</a>
      </li>
    </ul>

    <table class="table table-striped my-2">
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Product</th>
          <th scope="col" class="text-right">Latest Price</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: products">
        <tr>
          <td data-bind="text: category"></td>
          <td data-bind="text: name"></td>
          <td class="text-right">
            <span data-bind="text: $root.format(price_EUR_per_kg)"></span>
            <button class="btn btn-sm btn-secondary ml-3" data-bind="click: $parent.EditHistory">History</button>
            <button class="btn btn-sm btn-success ml-3" data-bind="click: $parent.EditPrice">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div data-bind="modal: HistoryBeingEdited" class="fade" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Price History</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped my-2">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Pricing</th>
                </tr>
              </thead>
              <tbody>
                <!-- ko foreach: HistoryBeingEdited() && HistoryBeingEdited(), as: data -->
                <tr>
                  <td data-bind="text: $data.date_created"></td>
                  <td class="text-right">
                    <span data-bind="text: $root.format($data.price_EUR_per_kg)"></span>
                  </td>
                </tr>
                <!-- /ko  -->
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div data-bind="modal: PriceBeingEdited" class="fade" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form data-bind="submit: $root.SavePrice">
            <div class="modal-header">
              <h5 class="modal-title">Price Edit</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="ActualPriceInput">Product actuall price</label>
                <input type="number" class="form-control" id="ActualPriceInput" placeholder="Actual price"
                  data-bind="value: PriceBeingEdited() && PriceBeingEdited().price , valueUpdate: 'afterkeydown'">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    ko.bindingHandlers['modal'] = {
      init: function (element, valueAccessor, allBindingsAccessor) {
        var allBindings = allBindingsAccessor();
        var $element = $(element);
        $element.addClass('hide modal');

        if (allBindings.modalOptions && allBindings.modalOptions.beforeClose) {
          $element.on('hide', function () {
            var value = ko.utils.unwrapObservable(valueAccessor());
            return allBindings.modalOptions.beforeClose(value);
          });
        }
      },
      update: function (element, valueAccessor) {
        var value = ko.utils.unwrapObservable(valueAccessor());
        if (value) {
          $(element).removeClass('hide').modal('show');
        } else {
          $(element).modal('hide');
        }
      }
    };

    /* ViewModel for the individual records in our collection. */

    var PriceUpdate = function (id, price) {
      var self = this;
      self.id = ko.observable(ko.utils.unwrapObservable(id));
      self.price = ko.observable(ko.utils.unwrapObservable(price));
    }

    class ProductTable {
      constructor() {
        this.formatter = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'EUR',
          minimumFractionDigits: 2,
          maximumFractionDigits: 2,
        });
        var self = this;
        var properties = ko.observableArray();

        this.products = ko.observableArray();
        this.refreshing = ko.observable(false);
        this.HistoryBeingEdited = ko.observable();
        this.PriceBeingEdited = ko.observable();
        this.OriginalProductInstance = ko.observable();

        this.EditHistory = function (product) {
          self.HistoryBeingEdited(product.pricing_history);
        };

        this.EditPrice = function (product) {
          // Keep a copy of the original instance so we don't modify it's values in the editor
          self.OriginalProductInstance(product);

          self.PriceBeingEdited(new PriceUpdate(product.id, product.price_EUR_per_kg));
        };

        this.SavePrice = function () {
          var updatedProduct = ko.utils.unwrapObservable(self.PriceBeingEdited);
          var id = ko.utils.unwrapObservable(updatedProduct.id);
          var price = ko.utils.unwrapObservable(updatedProduct.price);
          self.OriginalProductInstance().pricing_history.unshift({ date_created: new Date().toISOString(), price_EUR_per_kg: self.OriginalProductInstance().price_EUR_per_kg  })
          
          self.products.replace(self.OriginalProductInstance(), { ...self.OriginalProductInstance(), price_EUR_per_kg: price })
  
          fetch('/api/products/' + id + '/', { 
            method: 'PATCH', 
            body: JSON.stringify({ 'price_EUR_per_kg': price }), 
            headers: { 'Content-type': 'application/json' } 
          })
            .then(response => response.json())
        }
      }

      format(value) {
        return this.formatter.format(value);
      }

      refresh() {
        this.refreshing(true);

        fetch('/api/products/')
          .then(response => response.json())
          .then(this.products)
          .finally(() => this.refreshing(false));
      }
    };

    let productTable = new ProductTable();
    ko.applyBindings(productTable);

    productTable.refresh();
  </script>
  </div>
</body>

</html>