<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Test</title>

        <!-- KockoutJS : https://knockoutjs.com -->
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.5.0.js"></script>

        <!-- Bootstrap : https://getbootstrap.com/docs/4.6/ -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container p-4">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Products by category</a>
                </li>
            </ul>
            
            <table class="table table-striped my-2">
                <thead>
                  <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Product</th>
                    <th scope="col" class="text-right">Latest Price</th>
                  </tr>
                </thead>
                <tbody data-bind="foreach: products">
                    <tr>
                      <td data-bind="text: category"></td>
                      <td data-bind="text: name"></td>
                      <td class="text-right">
                        <span data-bind="text: $root.format(price_EUR_per_kg)"></span>
                        <button class="btn btn-sm btn-secondary ml-3" data-bind="click: ()=>alert('Not yet implemented')">History</button>
                      </td>
                    </tr>
                </tbody>
            </table>

            <script>
                class ProductTable {
                    constructor() {
                        this.formatter = new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'EUR',
                            minimumFractionDigits:2,
                            maximumFractionDigits:2,
                        });

                        this.products = ko.observableArray();
                        this.refreshing = ko.observable(false);
                    }

                    format(value) {
                        return this.formatter.format(value);
                    }

                    refresh() {
                        this.refreshing(true);

                        fetch('/api/products/')
                            .then(response => response.json())
                            .then(this.products)
                            .finally(()=>this.refreshing(false));
                    }
                };

                let productTable = new ProductTable();
                ko.applyBindings(productTable);

                productTable.refresh();
            </script>
        </div>
    </body>
</html>